---
import PageLayout from "@/layouts/Base";
import { Image } from "@astrojs/image/components";
import perfil from "../assets/perfil.jpg";

const meta = {
	title: "Acerca de ",
	description: "Soy Ruben desarollador de software",
};
---

<PageLayout meta={meta}>
	<div class="space-y-6">
		<h1 class="title">Acerca de mi</h1>
		<p>
			Hola, soy Rubén un matemático entusiasta de la programación, 
			actualmente trabajo como desarrollador backend de microservicios con java, 
			en mis tiempos libres me gusta compartir el conocimiento.
		</p>
		<div class="flex justify-center">
			<Image src={perfil} alt="A cartoon cactus looking at 'Astro.build' logo"
			/>
		</div>
		<p>Aqui un poco acerca de mi carrera </p>
		<ul class="list-disc list-inside">
			<li>Estudie matematicas de 2017 al 2022</li>
			<li>Trabaje como freelancer en 2020 a 2022</li>
			<li>Actualmente trabajo como desarollador backend</li>
		</ul>
		<p class="italic">
			"El cerebro humano tiene 100 mil millones de neuronas, cada neurona conectada a otras 10 mil neuronas. Sentado en los hombros, es el objeto más complejo del universo conocido."
		</p>
	</div>
</PageLayout>
