---
import PageLayout from "@/layouts/Base";
import BlogPostPreview from "@/components/BlogPostPreview";
import SocialList from "@/components/SocialList";
import { sortMDByDate } from "@/util";
import type { Post } from "@/types";

const meta = {
	title: "Rubs Code Blog",
	description: "Blog de desarollo de software",
};

const MAX_POSTS = 10;
const allPosts = await Astro.glob<Post>("./posts/*.mdx");
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<PageLayout meta={meta}>
	<section>
		<h1 class="mb-6 title">Blog de desarollo de software</h1>
		<p class="mb-4">
			Hola, mi nombre es Rubén y soy desarrollador de software enfocado en el desarrollo 
			de aplicaciones backend principalmente con lenguajes como Java, Python y JavaScript. 
			Este es un blog para compartir el conocimiento que he adquirido a lo largo de mi carrera.
		</p>
		<SocialList />
	</section>
	<section aria-label="Blog post list" class="mt-16">
		<h2 class="mb-4 text-xl title">Publicaciones</h2>
		<ul class="space-y-4 sm:space-y-2">
			{
				allPostsByDate.map((p) => (
					<li class="flex flex-wrap items-center gap-x-2 [&_q]:w-full">
						<BlogPostPreview post={p} as="h2" />
					</li>
				))
			}
		</ul>
	</section>
	<section class="mt-16">
		<h2 class="mb-4 text-xl title">Tecnologías</h2>
		<ul class="space-y-4 sm:space-y-2">
			<li>
				<a
					href="https://astro.build"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Astro
				</a>:
				<p class="inline-block sm:mt-2">Construye sitios web, más rapido.</p>
			</li>
			<li>
				<a
					href="https://docs.astro.build/en/guides/integrations-guide/image/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>@astro/image
				</a>:
				<p class="inline-block sm:mt-2">
					Una integracion de Astro para optimizar imagenes.
				</p>
			</li>
			<li>
				<a
					href="https://tailwindcss.com"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Tailwind CSS
				</a>:
				<p class="inline-block sm:mt-2">
					Cree rápidamente sitios web modernos sin tener que abandonar su HTML.
				</p>
			</li>
			<li>
				<a
					href="https://mdxjs.com/"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>MDX
				</a>:
				<p class="inline-block sm:mt-2">
					Markdown para la era de los componentes.
				</p>
			</li>
			<li>
				<a
					href="https://github.com/chrismwilliams/astro-theme-cactus"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Astro cactus
				</a>:
				<p class="inline-block sm:mt-2">
					Este sitio es un fork de Astro cactus.
				</p>
			</li>
			<li>
				<a
					href="https://github.com/RubensVF/rubs-code-blog"
					target="_blank"
					rel="noopener noreferrer"
					class="inline-block cactus-link"
					>Codigo fuente
				</a>:
				<p class="inline-block sm:mt-2">
					Codigo fuente del sitio.
				</p>
			</li>
		</ul>
	</section>
</PageLayout>
